<div style="height:5px; width:100%; background-color: #f5f5f5;">
    <app-loading-bar *ngIf="this.usersService.status"></app-loading-bar>
  </div>
  <div style=" background-color: #f5f5f5; height: 600px">
    <div class="col-md-6 col-md-offset-3 well" style="margin-top:20px; background-color: white;">
      <h3>Change name to:</h3>
      <div>
        <label>Id: </label>
        <input type="number" class="form-control" placeholder="{{ curentUser.id }} " disabled/>
      </div>
      <div>
        <label>First Name: </label>
        <input type="text" class="form-control" [(ngModel)]="editName" name="editName" placeholder="{{curentUser.first_name}}" #editFirtsName="ngModel" required/>
        <span *ngIf="editFirtsName.invalid && (editFirtsName.dirty || editFirtsName.touched)" class="error">This field cannot be empty.</span>
      </div>
      <div>
        <label>Last Name: </label>
        <input type="text" class="form-control" [(ngModel)]="editLastName" name="editLastName" placeholder="{{curentUser.last_name}}" #editLastsName="ngModel" required/>
        <span *ngIf="editLastsName.invalid && (editLastsName.dirty || editLastsName.touched)" class="error">This field cannot be empty.</span>
      </div>
      <div class="col-md-offset-8" style="margin-top:20px">
        <button class="btn btn-primary" [disabled]="editFirtsName.invalid || editLastsName.invalid" (click)="save()">Save</button>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>