<nav>
    <div class="col-md-8 col-md-offset-1">
        <i class="fa fa-user-circle-o"></i>
        <span>{{ this.authService.user["email"] | nameFromEmail }}</span>
    </div>
    <div data-toggle="modal" data-target="#addModal">
        <i class="fa fa-address-card-o" aria-hidden="true"></i>
        <span>Add New User</span>
    </div>
    <div (click)="this.authService.logOut()" style="margin-left:15px">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <span>Log Out</span>
    </div>
</nav>
    <router-outlet></router-outlet>
      