nav {
    display: flex;
    background-color: #3c8dbc;
    height: 40px;
    line-height: 40px;
    font-family: 'Bree Serif', serif;
    color: white;
}
nav div{
    cursor: pointer
}
i{
     cursor: pointer; 
    /* color: white */
}
nav div:first-child, nav div:first-child i{
    cursor: default;
     font-size: 20px;
}
footer{
    background-color: #687a82;
    height: 60px;
}