.active {
    background-color: #f5f5f5 !important;
    color: #337ab7;
  }
  
  .active:hover {
    color: #337ab7;
  }
  
  .badge {
    background-color: #337ab7;
    border: 1px solid white;
  }
  
  i {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .fa-trash {
    color: red
  }
  
  td:last-child {
    width: 80px;
    text-align: center;
  }
  
  .dropdown-menu {
    min-width: auto;
    left: auto;
    right: 0
  }
  
  a {
    cursor: pointer;
  }
  
  td,
  th {
    line-height: 50px !important
  }
  
  .sorted {
    text-decoration: underline;
    font-style: italic;
  }
  
  .hide {
    display: none
  }
  
  .show {
    display: inline-block !important
  }
  