<div style="height:5px; width:100%; background-color: #f5f5f5;">
    <app-loading-bar *ngIf="this.usersService.status"></app-loading-bar>
  </div>
  <div style="height: 600px; background-color: #f5f5f5;">
    <div class="col-md-10 col-md-offset-1 well" style="margin-top:10px; background-color: white;">
      <table class="table table-hover">
        <thead>
          <th class="sorted">
            <span>ID</span>
            <i class="fa fa-sort-numeric-asc hide" aria-hidden="true" (click)="sortByAZ('id')"></i>
            <i class="fa fa-sort-numeric-desc" aria-hidden="true" (click)="sortByZA('id')"></i>
          </th>
          <td>Avatar</td>
          <td>
            <span>First Name</span>
            <i class="fa fa-sort-alpha-asc" aria-hidden="true" (click)="sortByAZ('first_name')"></i>
            <i class="fa fa-sort-alpha-desc hide" aria-hidden="true" (click)="sortByZA('first_name')"></i>
  
          </td>
          <td>
            <span>Last Name</span>
            <i class="fa fa-sort-alpha-asc" aria-hidden="true" (click)="sortByAZ('last_name')"></i>
            <i class="fa fa-sort-alpha-desc hide" aria-hidden="true" (click)="sortByZA('last_name')"></i>
          </td>
          <td>
            <span>Edit/Remove</span>
          </td>
        </thead>
        <tbody>
          <tr *ngFor="let user of onEachPage">
            <th>{{user.id}}</th>
            <td><img src="{{user.avatar}}" alt="" style="border-radius: 50%; height: 50px;"></td>
            <td>{{user.first_name | capitalizeFirstLetters}}</td>
            <td>{{user.last_name | capitalizeFirstLetters}}</td>
            <td>
              <i class="fa fa-pencil" aria-hidden="true" (click)="edit(user)"></i>
              <i class="fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#DelModal" (click)="setUser(user)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="pages" class="" style="display:flex; justify-content: center ">
        <a *ngFor="let page of pages" class="pageIcon badge " (click)="pagechanger(page)">{{page}}</a>
      </div>
    </div>
  </div>
  <app-delete-comfirm></app-delete-comfirm>
  <app-add-user></app-add-user>
  