<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New User</h4>
        </div>
        <div class="modal-body">
          <form>
            <div>
              <label>First Name</label>
              <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" #addFirstname="ngModel" required/>
              <span *ngIf="addFirstname.invalid && (addFirstname.dirty || addFirstname.touched)" class="error">This field cannot be empty.</span>
            </div>
            <div>
              <label>Last Name</label>
              <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" #addLastName="ngModel" required/>
              <span *ngIf="addLastName.invalid && (addLastName.dirty || addLastName.touched)" class="error">This field cannot be empty.</span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()" [disabled]="addFirstname.invalid || addLastName.invalid">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reset()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  